<!DOCTYPE html>
<html lang="ko">

<head>
    <% include ./head %>
    <title><%=title%></title>
    <link href="/css/like.css" rel="stylesheet">
</head>

<body>
    <header>
        <% var penName = penName %>
        <% var avatar = avatar; %>
        <% include ./header %>
    </header>
    <main role="main" class="content">
        <!-- <article> -->
        <div class="container mt-5">
            <div class="chapter p-3">
                <h1 class="chapter-title"><%= chapter[0].title%></h1>
                <div class="chapter-meta">
                    <span class="date"><i class="fas fa-calendar-alt"></i> <%= chapter[0].created%></span>
                    <span class="topic_name"><i class="fas fa-book"></i> <%= chapter[0].topic_title%></span>
                    <span class="user"><i class="fas fa-user"></i> <%= chapter[0].name%></span>
                    <button class="button button-like <%=likeClass%>">
                        <i class="fa fa-heart"></i>
                        <span>Like</span>
                    </button>
                </div>
                <p>
                    <%- chapter[0].content %>
                </p>
                <div class="chapterinfobot">
                    <div class="float-right">
                        <div class="btn-group" role="group">
                            <form action="/chapter/delete_process" method="post">
                                <% if(chapter[0].authusername == username) {%>
                                <button type="submit" class="btn btn-danger">삭제</button>
                                <a href='/chapter/update/<%=chapter[0].topic_id%>/<%=chapter[0].id%>'
                                    class="btn btn-warning">수정</a>
                                <%} %>
                                <input type="hidden" name="topic_id" value='<%=chapter[0].topic_id%>'>
                                <input type="hidden" name="chapter_id" value='<%=chapter[0].id%>'>

                                <a href='/topic/<%=chapter[0].topic_id%>' class="btn btn-secondary text-white">목록</a>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- </article> -->
    </main>
    <a href="#" id="scroll" style="display: none;"><span></span></a>
</body>
<script>
    $(function () {
        $('.button-like')
            .bind('click', function (event) {
                let username = '<%- username %>';
                if (username == '') {
                    alert('로그인하셔야 합니다.');
                } else {
                    $(".button-like").toggleClass("liked");

                    if ($(".button-like").hasClass("liked")) {
                        var like = {
                            topicId: "<%- chapter[0].topic_id %>",
                            chapterId: "<%- chapter[0].id %>",
                            username: "<%- username %>"
                        }
                        fetch('/liked', {
                                method: 'POST',
                                headers: {
                                    'Accept': 'application/json',
                                    'Content-Type': 'application/json'
                                },
                                body: JSON.stringify({
                                    topicId: '<%- chapter[0].topic_id %>',
                                    chapterId: '<%- chapter[0].id %>',
                                    username: '<%- username %>'
                                })
                            })
                            .then(function (data) {
                                    return data;
                            })
                            .catch(function (error) {
                                console.log(error);
                            });
                    }
                    else {
                        var like = {
                            topicId: "<%- chapter[0].topic_id %>",
                            chapterId: "<%- chapter[0].id %>",
                            username: "<%- username %>"
                        }
                        fetch('/unliked', {
                                method: 'POST',
                                headers: {
                                    'Accept': 'application/json',
                                    'Content-Type': 'application/json'
                                },
                                body: JSON.stringify({
                                    topicId: '<%- chapter[0].topic_id %>',
                                    chapterId: '<%- chapter[0].id %>',
                                    username: '<%- username %>'
                                })
                            })
                            .then(function (data) {
                                    return data;
                            })
                            .catch(function (error) {
                                console.log(error);
                            });
                    }
                }

            })
    });
</script>

</html>