<!DOCTYPE html>
<html lang="ko">

<head>
    <% include ./head %>
    <title><%=title%></title>
</head>

<body>
    <header>
        <% var penName = penName %>
        <% include ./header %>
    </header>
    <main role="main" class="content">
        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading" style="font-family: 'Kaushan Script'">My New Human Revolution</h1>
                <p class="lead text-white h6" style="font-family: 'Spoqa Han Sans'">목표를 하루 달성하면 <b>하루분의 인간혁명의 이야기</b>가
                    탄생합니다.<br>
                    어디까지나 스스로 정합시다. 자기답게 노력하면 됩니다.<br>누군가를 보고 "나는 별로 노력 안 하는 것 같다."고 고민할 필요는 없습니다.<br> "이만큼 하면 나의
                    승리다!"라고 말할 수 있는 목표면 됩니다.
                </p>
                <p>
                    <button class="btn btn-primary my-2" data-toggle="modal" onclick="setInput('', 'C');">새로
                        집필하기</button>
                    <% if(penName === undefined) { %>
                    <a href="/auth/register" class="btn btn-danger text-white">완전간단하게 가입하기</a>
                    <% } %>
                </p>
            </div>
        </section>
        <section>
            <div id="revos">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-inline">
                                <input class="search form-control mb-2" placeholder="찾기" />
                                <!-- <button class="sort btn btn-secondary mb-2 mr-2" data-sort="name">이름으로 정렬</button>
                                <button class="sort btn btn-secondary mb-2" data-sort="title">제목으로 정렬</button> -->
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <ul class="col-md-12 list">
                            <% if(topics != null && topics.length >0) {%>
                            <% var i = 0; %>
                            <% while(i < topics.length) { %>
                            <div class="topic">
                                <div class="wrap-ut float-left">
                                    <div class="userinfo float-left">
                                        <div class="avatar">
                                            <img src="../images/female-technologist.png">
                                        </div>
                                        <div class="author">
                                            <%= topics[i].name%>
                                            <% if(penName == topics[i].name) { %> 
                                                <a class="edit" data-id='<%=topics[i].id%>' href="#"><i
                                                    class="fas fa-edit"></i></a>
                                            <%}%>
                                            
                                        </div>
                                    </div>
                                    <div class="topictext float-left">
                                        <h2 class="title">
                                            <a href='/topic/<%=topics[i].id%>'><%=topics[i].title%></a>
                                        </h2>
                                        <p>
                                            <%= topics[i].description %>
                                        </p>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="topicinfo float-left">
                                    <div class="heart">
                                        <i class="fas fa-heart text-danger"></i> 13
                                    </div>
                                    <div class="views">
                                        <i class="fas fa-eye"></i> <%=topics[i].views%>
                                    </div>
                                    <div class="chapters">
                                        <i class="fas fa-scroll"></i> <%=topics[i].chaptercnt%>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <% i++;}%>
                            <%}%>
                                </div>
                            </div>
                        </div>
                    </div>
        </section>
    <div class="modal fade" id="topicModal" tabindex="-1" role="dialog"
                    aria-labelledby="topicModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                                <form id="formTopic" action="/topic/create" method="post">
                                    <input id="topicId" type="hidden" name="id">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">새로 집필하기</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                    <div class="form-group">
                                        <label for="title" class="col-form-label">제목</label>
                                        <input type="text" class="form-control" id="title" name="title">
                                    </div>
                                    <div class="form-group">
                                        <label for="description" class="col-form-label">설명</label>
                                        <textarea class="form-control" id="description" name="description" cols="40" rows="5"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="message-text" class="col-form-label">이미지</label>
                                        <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                  <span class="input-group-text" id="inputGroupFileAddon01">업로드</span>
                                                </div>
                                                <div class="custom-file">
                                                  <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                                                  <label class="custom-file-label" for="inputGroupFile01">이미지 선택</label>
                                                </div>
                                              </div>
                                    </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                                <button type="submit" class="btn btn-primary">저장</button>
                            </div>
                        </form>
                        </div>
                    </div>
        </div>
    </main>
    <footer class="text-muted">
        <div class="container">
        </div>
    </footer>
    <a href="#" id="scroll" style="display: none;"><span></span></a>
</body>
<script type="text/javascript" src="../js/list.js"></script>

<script>
    $(function() {
        $('a.edit').click(function (e){
        e.preventDefault();
        var action = '/topic/update/' + $(this).data('id');
        
        $.getJSON(action, function (topic) {
            setInput(topic, 'U');
        });
    });
    });
    
    function setInput(topic, state) {
        var action;

        var penName = '<%- penName %>'
        if(penName === '') {
            alert('가입 후 로그인해주세요.');
            return false;
        }else {
            if(state === 'U') {
            $('#topicId').val(topic[0].id);
            $('#title').val(topic[0].title);
            $('#description').val(topic[0].description);

            //$('#author').hide();
            action = `/topic/update_process`;
        }else {
            $('#title').val('');
            $('#description').val('');
            action = '/topic/create';
            // $('#author').show();
        }
        $("#formTopic").attr('action',action);
        
        $('#topicModal').modal('show');
        }
    }

    $("#formTopic").on("submit", function (e) {
        e.preventDefault();
        
        var data = {};
            data.id = $('#topicId').val();
            data.title = $("#title").val();
            data.description = $("#description").val();
            //data.author = $("#author option:selected").val();

        $.ajax({
            url: $(this).attr('action'),             
            type: 'POST',                    
            data: data,
            success: function(result) {
            }
        });

        $("#topicModal").modal('hide');
    });

    $("#topicModal").on('hidden.bs.modal', function () {
        location.reload();
    });

</script>

</html>