<!DOCTYPE html>
<html lang="ko">

<head>
    <% include ./head %>
    <title><%=title%></title>
</head>

<body>
    <header>
        <% include ./header %>
    </header>
    <main role="main" class="content">
        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading" style="font-family: 'Kaushan Script'">My New Human Revolution</h1>
                <p class="lead text-white h6" style="font-family: 'Spoqa Han Sans'">목표를 하루 달성하면 <b>하루분의 '인간혁명'의 이야기</b>가
                    탄생합니다.
                    어디까지나 스스로 정합시다. 자기답게 노력하면 됩니다.<br>누군가를 보고 "나는 별로 노력 안 하는 것 같다."고 고민할 필요는 없습니다.<br> "이만큼 하면 나의
                    승리다!"라고 말할 수 있는 목표면 됩니다.</p>
                <p>
                    <button class="btn btn-primary my-2" data-toggle="modal" data-target="#topicModal">새로 집필하기</button>
                </p>
            </div>
        </section>
        <section>
            <div id="revos">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-inline">
                                <input class="search form-control mb-2" placeholder="찾기" />
                                <button class="sort btn btn-secondary mb-2 mr-2" data-sort="name">이름으로 정렬</button>
                                <button class="sort btn btn-secondary mb-2" data-sort="title">제목으로 정렬</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <% if(topics != null && topics.length >0) {%>
                            <% var i = 0; %>
                            <% while(i < topics.length) { %>
                            <div class="topic">
                                <div class="wrap-ut float-left">
                                    <div class="userinfo float-left">
                                        <div class="avatar">
                                            <img src="../images/female-technologist.png">
                                        </div>
                                        <div class="author">
                                            <%= topics[i].name%>
                                        </div>
                                    </div>
                                    <div class="topictext float-left">
                                        <h2>
                                            <a href='/topic/<%=topics[i].id%>'><%=topics[i].title%></a>
                                        </h2>
                                        <p>
                                            <!-- <% var desc = topics[i].description %>
                                            <%= desc.replace('\n', '<br>') %> -->
                                        </p>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="topicinfo float-left">
                                    <div class="heart">
                                        <i class="fas fa-heart text-danger"></i> 13
                                    </div>
                                    <div class="views">
                                        <i class="fas fa-eye"></i> 1,568
                                    </div>
                                    <div class="chapters">
                                        <i class="fas fa-scroll"></i> 15
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <% i++;}%>
                            <%}%>
                                </div>
                            </div>
                        </div>
                    </div>
        </section>
    <div class="modal fade" id="topicModal" tabindex="-1" role="dialog"
                    aria-labelledby="topicModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                                <form action="/topic/create_process" method="post">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">새로 집필하기</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                    <div class="form-group">
                                        <label for="title" class="col-form-label">제목</label>
                                        <input type="text" class="form-control" id="title" name="title">
                                    </div>
                                    <div class="form-group">
                                        <label for="description" class="col-form-label">설명</label>
                                        <textarea class="form-control" id="description" name="description" cols="40" rows="5"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="message-text" class="col-form-label">이미지</label>
                                        <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                  <span class="input-group-text" id="inputGroupFileAddon01">업로드</span>
                                                </div>
                                                <div class="custom-file">
                                                  <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                                                  <label class="custom-file-label" for="inputGroupFile01">이미지 선택</label>
                                                </div>
                                              </div>
                                    </div>
                                    <div class="form-group">
                                        <select name="author" class="form-control">
                                            <% if(authors != null && authors.length >0) {%>
                            <% var i = 0; %>
                            <% while(i < authors.length) { %>
                            <option value='<%=authors[i].id%>'><%=authors[i].name%></option>
                            <% i++; }%>
                            <%}%>
                                        </select>
                                    </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                                <button type="submit" class="btn btn-primary">저장</button>
                            </div>
                        </form>
                        </div>
                    </div>
        </div>
    </main>
    <footer class="text-muted">
        <div class="container">
            <p class="float-right">
                <a href="#">Back to top</a>
            </p>
        </div>
    </footer>
</body>
</html>