<!DOCTYPE html>
<html lang="ko">

<head>
    <% include ./head %>
    <title><%=title%></title>
</head>

<body>
    <header>
        <% var penName = penName %>
        <% var avatar = avatar; %>
        <% include ./header %>
    </header>
    <main role="main" class="content">
        <div id="revos">
            <div class="container mt-5">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-inline">
                            <!-- <input class="search form-control mb-2" placeholder="찾기" /> -->
                            <% if (topic[0].authname === username) { %>
                            <a href='/chapter/create/<%=topic[0].id%>' class="btn btn-primary mb-2 mr-2 text-white">새로
                                작성하기</a>
                            <% } %>
                            <a href='/' class="btn btn-secondary text-white mb-2">목록</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="topic">
                            <div class="wrap-ut float-left">
                                <div class="userinfo float-left">
                                    <div class="avatar">
                                        <img src="../images/female-technologist.png">
                                    </div>
                                    <div class="author">
                                        <%= topic[0].name%>
                                    </div>
                                </div>
                                <div class="topictext float-left">
                                    <h2>
                                        <%=topic[0].title%>
                                    </h2>
                                    <p>
                                        <% var desc = topic[0].description %>
                                        <%- desc.replace('\n', '<br>') %>
                                    </p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <% if(chapters != null && chapters.length > 0) {%>
                <hr>
                <div class="row">
                    <ul class="col-md-12 list">
                        <% var i = 0; %>
                        <% while(i < chapters.length) { %>
                        <div class="topic">
                            <div class="topwrap">
                                <div class="userinfo float-left">
                                    <img src="<%= chapters[i].img_tag%>" class="img-thumbnail">
                                </div>
                                <div class="topictext float-left">
                                    <h2 class="title">
                                        <a
                                            href='/chapter/view/<%=topic[0].id%>/<%=chapters[i].id%>'><%=chapters[i].title%></a>
                                    </h2>
                                    <p>
                                        <%= chapters[i].text %>
                                    </p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="topicinfobot">
                                <div class="viewblock float-left">
                                    <i class="fas fa-eye"></i> <%= chapters[i].views %>
                                </div>
                                <div class="likeblock float-left">
                                    <i class="fas fa-heart"></i> <%= chapters[i].likes %>
                                </div>
                                <div class="posted float-left">
                                    <i class="far fa-clock"></i> <%= chapters[i].created %> 작성됨.
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <% i++;}%>
                        <%}%>
                </ul>
        </div>
    </div>
    </main>
    <a href="#" id="scroll" style="display: none;"><span></span></a>
    <div class="modal fade userModal" tabindex="-1" role="dialog" aria-labelledby="userModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
              <div class="modal-content">
                ...
              </div>
            </div>
          </div>
</body>
</html>